<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Web UI - Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Samruddhi Naik">
    <link rel="stylesheet" type="text/css" href="/static/dashboard/bootstrap/css/bootstrap.min.css" />
    <link href="/static/dashboard/css/main.css" rel="stylesheet">
    <link href="/static/dashboard/css/font-style.css" rel="stylesheet">
    <link href="/static/dashboard/css/flexslider.css" rel="stylesheet">
    <script type="text/javascript" src="/static/dashboard/js/jquery.js"></script>
    <script type="text/javascript" src="/static/dashboard/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/dashboard/js/lineandbars.js"></script>
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">

    <script type="text/javascript" src="/static/dashboard/js/dash-charts.js"></script>
    <script type="text/javascript" src="/static/dashboard/js/gauge.js"></script>

    <!-- NOTY JAVASCRIPT -->
    <script type="text/javascript" src="/static/dashboard/js/noty/jquery.noty.js"></script>
    <script type="text/javascript" src="/static/dashboard/js/noty/layouts/top.js"></script>
    <script type="text/javascript" src="/static/dashboard/js/noty/layouts/topLeft.js"></script>
    <script type="text/javascript" src="/static/dashboard/js/noty/layouts/topRight.js"></script>
    <script type="text/javascript" src="/static/dashboard/js/noty/layouts/topCenter.js"></script>

    <!-- You can add more layouts if you want -->
    <script type="text/javascript" src="/static/dashboard/js/noty/themes/default.js"></script>
    <!-- <script type="text/javascript" src="assets/js/dash-noty.js"></script> This is a Noty bubble when you init the theme
    <script type="text/javascript" src="http://code.highcharts.com/highcharts.js"></script> -->
    <script src="/static/dashboard/js/jquery.flexslider.js" type="text/javascript"></script>
    <script type="text/javascript" src="/static/dashboard/js/admin.js"></script>

    <style type="text/css">
        body {
            padding-top: 60px;
        }
    </style>
    <!-- Google Fonts call. Font Used Open Sans & Raleway -->
    <link href="http://fonts.googleapis.com/css?family=Raleway:400,300" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    <script type="text/javascript">
    $(document).ready(function () {

        $("#btn-blog-next").click(function () {
            $('#blogCarousel').carousel('next')
        });
        $("#btn-blog-prev").click(function () {
            $('#blogCarousel').carousel('prev')
        });

        $("#btn-client-next").click(function () {
            $('#clientCarousel').carousel('next')
        });
        $("#btn-client-prev").click(function () {
            $('#clientCarousel').carousel('prev')
        });

    });

    $(window).load(function () {

        $('.flexslider').flexslider({
            animation: "slide",
            slideshow: true,
            start: function (slider) {
                $('body').removeClass('loading');
            }
        });
    });

    </script>
    <script type="text/javascript">

function showIt2() {
    document.getElementById("div2").style.visibility = "visible";
}
setTimeout("showIt2()", 5000); // after 5 secs

function showIt3() {
    document.getElementById("div3").style.visibility = "visible";
}
setTimeout("showIt3()", 0000); // after 5 secs
    </script>

</head>
<body>

    <!-- NAVIGATION MENU -->
    <nav class="navbar navbar-default templatemo-nav" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                </button>
                <img src="/static/images/Ansys-logo.png" class="navbar-brand">
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    {%if role=='RD'%}
                        <li><a href="{{url_for('summary')}}" target="_blank">Summary table</a></li>
                        <li><a href="{{url_for('home')}}">Home</a></li>
                    {% endif %}
                    
                    <li><a href="{{url_for('logout')}}">Logout</a></li>
                </ul>
            </div>

        </div>
    </nav>

    <div class="container">
        <div class="row">
            {%if role=='QA'%}
            <div class="col-sm-4 col-lg-4">
            </div>
            {% endif %}
                    <!-- FIRST ROW OF BLOCKS -->
                    <!-- USER PROFILE BLOCK -->
                    <div class="col-sm-4 col-lg-4">
                        <div class="dash-unit">
                            <dtitle>User Profile</dtitle>
                            <hr>
                            <div class="thumbnail">
                                {%if rname==True %}
                                <img src="/static/dashboard/images/reviewer.png" alt="<IMAGE>" class="img-circle">
                                {%elif role=='RD'%}
                                <img src="/static/dashboard/images/developer.png" alt="<IMAGE>" class="img-circle">
                                {%else%}
                                <img src="/static/dashboard/images/qa.jpg" alt="<IMAGE>" class="img-circle">
                                {% endif %}
                                
                            </div><!-- /thumbnail -->
                            <h1>{{username}}</h1>
                            <h3>Canonsburg, PA</h3>
                            <br>
                            <div class="info-user">
                                <span aria-hidden="true" class="li_user fs1"></span>
                                <span aria-hidden="true" class="li_settings fs1"></span>
                                <span aria-hidden="true" class="li_mail fs1"></span>
                                <span aria-hidden="true" class="li_key fs1"></span>
                            </div>
                        </div>
                    </div>

                    <!-- GAUGE CHART BLOCK -->
                    {%if role=='RD'%}
                    <div class="col-sm-4 col-lg-4">
                        <div class="dash-unit" id="div1">
                            <dtitle>Builds Progress</dtitle>
                            <hr>
                            <hr>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="max-width: 100%">
                                    <span class="title"> Windows Build - 100%</span>
                                </div>
                            </div>
                            <hr>
                            <hr>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="max-width: 100%">
                                    <span class="title"> Linux Build - 100%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-lg-4" id="div2" style="visibility: hidden">
                        <div class="dash-unit">
                            <dtitle>Pytest Progress</dtitle>
                            <hr>
                            <canvas id="canvas" width="300" height="300"> </canvas>
                        </div>
                    </div>
                    {% endif %}
                </div><!-- /row -->
                <!-- SECOND ROW OF BLOCKS -->
        {%if role=='RD'%} 
                <div class="row" id="div3" style="visibility:hidden">
                    <div class="col-sm-12 col-lg-12">
                        <div class="dash-unit">
                            <dtitle> Progress Table </dtitle>
                            <div class="table-responsive">
                                <form action="{{url_for('change_pr') }}">
                                    <table class="table table-bordered" align="center">
                                        <thead>
                                            <tr>
                                                <th>Date Created</th>
                                                <th>Date Merged</th>    
                                                <th>Pull Request number</th>
                                                <th>Windows Build</th>
                                                <th>Linux Build</th>
                                                <th>Pytest</th>
                                                <th>QA status</th>
                                                <th>Reviewer status</th>
                                                <th> Final Status </th>
                                                <th>Pytest results</th>
                                            </tr>
                                        </thead>
                                        {%for c in cursor%}
                                        {%if c['name']==username%}
                                        {%for workitem in c['work_item']%}
                                        <tbody>
                                            <tr>

                                                <td>{{workitem['date_created']}}</td>
                                                <td>{{workitem['date_merged']}}</td>

                                                <td>{{workitem['pull_req']}}</td>
                                                <!--Win build-->
                                                {%if workitem['win_build']=='InProgress'%}
                                                <td><button type="button" class="btn btn-info"> In Progress </button></td>
                                                {% elif  workitem['win_build'] == 'Success' %}
                                                <td><button type="button" class="btn btn-success"> Success </button></td>
                                                {% elif  workitem['win_build'] == 'Failed' %}
                                                <td><button type="button" class="btn btn-danger"> Failed </button></td>
                                                {% endif %}

                                                <!--Linux build-->
                                                {%if workitem['lin_build']=='InProgress'%}
                                                <td><button type="button" class="btn btn-info"> In Progress </button></td>
                                                {% elif  workitem['lin_build'] == 'Success' %}
                                                <td><button type="button" class="btn btn-success"> Success </button></td>
                                                {% elif  workitem['lin_build'] == 'Failed' %}
                                                <td><button type="button" class="btn btn-danger"> Failed </button></td>
                                                {% endif %}

                                                <!--PyTest-->
                                                {%if workitem['pytest']=='InProgress'%}
                                                <td><button type="button" class="btn btn-info"> In Progress </button></td>
                                                {% elif  workitem['pytest'] == 'Success' %}
                                                <td><button type="button" class="btn btn-success"> Success </button></td>
                                                {% elif  workitem['pytest'] == 'Failed' %}
                                                <td><button type="button" class="btn btn-danger"> Failed </button></td>
                                                {% endif %}

                                                <!--QA status-->
                                                {%if workitem['qa_status']=='Pending'%}
                                                <td><button type="button" class="btn btn-warning"> Pending </button></td>
                                                {% elif  workitem['qa_status'] == 'Approved' %}
                                                <td><button type="button" class="btn btn-success"> Approved </button></td>
                                                {% elif  workitem['qa_status'] == 'Rejected' %}
                                                <td><button type="button" class="btn btn-danger"> Rejected </button></td>
                                                {% endif %}

                                                <!--Reviewer status-->
                                                {%for reviewer in workitem['reviewer']%}
                                                {%if reviewer['rstatus']=='Pending'%}
                                                <td><button type="button" class="btn btn-warning"> {{reviewer['rname']}} </button></td>
                                                {% elif  reviewer['rstatus'] == 'Approved' %}
                                                <td><button type="button" class="btn btn-success"> {{reviewer['rname']}} </button></td>
                                                {% elif  reviewer['rstatus'] == 'Rejected' %}
                                                <td><button type="button" class="btn btn-danger"> {{reviewer['rname']}} </button></td>
                                                {% endif %}
                                                {% endfor %}

                                                <!--Final status-->
                                                {%if workitem['final_status']=='Pending'%}
                                                <td><button type="button" class="btn btn-warning"> Pending </button></td>
                                                {% elif  workitem['final_status'] == 'Approved' %}
                                                <td><button type="button" class="btn btn-success"> Approved </button></td>
                                                {% elif  workitem['final_status'] == 'Rejected' %}
                                                <td><button type="button" class="btn btn-danger"> Rejected </button></td>
                                                {% endif %}

                                                <td><button style="font-size:18px"><i class="fa fa-download" style="color:lightskyblue"></i></button></td>
                                                <td><button type="submit" style="font-size:18px" name="del_pr" value="{{workitem['pull_req']}}" onclick="return confirm('Are you sure?');"><i class="fa fa-trash-o" style="color:red"></i></button></td>
                                                <td><button type="submit" style="font-size:18px" name="update_pr" value="{{workitem['pull_req']}}" formtarget="_blank"><i class="fa fa-edit" style="color:mediumslateblue"></i></button></td>
                                            </tr>
                                        </tbody>
                                        {% endfor %}
                                        {% endif %}
                                        {% endfor %}
                                    </table>
                                  </form>        
                              </div>
                        </div>
                    </div>
                </div>
                            <!--QA Requests Pending table-->
                            {% elif (role=='QA') %}                       
                            <div class="row" id="div3">
                               <div class="col-sm-3 col-lg-3">
                               </div>
                                 <div class="col-sm-8 col-lg-8">
                                    <div class="dash-unit">
                                        <dtitle> Pending Table </dtitle>
                                        <div class="table-responsive">
                                            <form action="{{url_for('update_qastatus') }}">
                                                <table class="table table-bordered" align="center">
                                                    <thead>
                                                        <tr>
                                                            <th>Pull Request number</th>
                                                            <th>Approve Request</th>
                                                            <th>Reject Request</th>
                                                        </tr>
                                                    </thead>
                                                    {%for c in cursor%}
                                                    <tbody>
                                                        <tr>
                                                            <td>{{c['pull_req']}}</td>
                                                            <!--Win build-->
                                                            <td><button type="submit" class="btn btn-success" name="qa_accept" value="{{c['pull_req']}}" onclick="return confirm('Are you sure?');"> Accept </button></td>
                                                        <td><button type="submit" class="btn btn-danger" name="qa_reject" value="{{c['pull_req']}}" onclick="return confirm('Are you sure?');"> Reject </button></td>
                                                    
                                                    </tr>
                                                </tbody>
                                                {% endfor %}
                                            </table>
                                          </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
        {% endif %}
                            <!--Second Row Ends-->
                            <!-- THIRD ROW OF BLOCKS -->
        {% if rname==True %}
        <div class="row" id="div4" >
            <div class="col-sm-2 col-lg-2">
            </div>
            <div class="col-sm-8 col-lg-8">
                <div class="dash-unit">
                    <dtitle> Pending Table </dtitle>
                    <div class="table-responsive">
                        <form action="{{url_for('update_restatus') }}">
                            <table class="table table-bordered" align="center">
                                <thead>
                                    <tr>
                                        <th>Pull Request number</th>
                                        <th>Created by</th>
                                        <th>Approve Request</th>
                                        <th>Reject Request</th>
                                        <th>Pytest Results</th>
                                    </tr>
                                </thead>
                                {% for c in cursor2 %}

                                <tbody>
                                    <tr>
                                        <td>{{c['pull_req']}}</td>
                                        <td>{{c['name']}}</td>
                                        <td><button type="submit" class="btn btn-success" name="re_accept" value="{{c['pull_req']}}" onclick="return confirm('Are you sure?');"> Accept </button></td>
                                        <td><button type="submit" class="btn btn-danger" name="re_reject" value="{{c['pull_req']}}" onclick="return confirm('Are you sure?');"> Reject </button></td>
                                        <td><button style="font-size:18px"><i class="fa fa-download" style="color:lightskyblue"></i></button></td>
                                    </tr>
                                </tbody>
                                {% endfor %}
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
                {% endif %}
                            <div class="row">
                            </div>
                            <!-- FOURTH ROW OF BLOCKS -->
                        </div> <!--Container-->
            <!-- start copyright -->
            <div id="footerwrap">
                <footer class="clearfix"></footer>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-lg-12" color="#ffffff">
                            Copyright &copy; {{ year }}  ANSYS, Inc.
                        </div>
                    </div><!-- /row -->
                </div><!-- /container -->
            </div>

</body>
</html>